@using BookingSystem.Core.Models.Flight

@model FlightAddInputModel
@{
    ViewData["Title"] = "Add Flight";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-area="Admin" asp-controller="Flight" asp-action="Add">
            <div class="mb-3">
                <label asp-for="@Model.DepartureAirport_Id" class="form-label-add-edit">Select Departure Airport:<span style="color: red"> *</span></label>
                <select asp-for="@Model.DepartureAirport_Id" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Departure Airport...</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.Id">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.DepartureAirport_Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ArrivalAirport_Id" class="form-label-add-edit">Select Arrival Airport:<span style="color: red"> *</span></label>
                <select asp-for="@Model.ArrivalAirport_Id" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Arrival Airline...</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.Id">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.ArrivalAirport_Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DepartureTime" class="form-label-add-edit">
                    Departure time:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.DepartureTime" class="form-control" aria-required="true" placeholder="Flight's departure time..." />
                <span asp-validation-for="@Model.DepartureTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ArrivalTime" class="form-label-add-edit">
                    Arrival time:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.ArrivalTime" class="form-control" aria-required="true" placeholder="Flight's arrival time..." />
                <span asp-validation-for="@Model.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FlightDuration" class="form-label-add-edit">
                    Duration time:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.FlightDuration" class="form-control" aria-required="true" placeholder="Flight's duration time..." />
                <span asp-validation-for="@Model.FlightDuration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TicketPrice" class="form-label-add-edit">
                    Ticket price:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.TicketPrice" class="form-control" aria-required="true" placeholder="Flight's ticket price..." />
                <span asp-validation-for="@Model.TicketPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Airline_Id" class="form-label-add-edit">Select Airline:<span style="color: red"> *</span></label>
                <select asp-for="@Model.Airline_Id" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Airline...</option>
                    @foreach (var airline in Model.Airlines)
                    {
                        <option value="@airline.Id">@airline.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Airline_Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CabinClass" class="form-label-add-edit">Select Cabin Class:<span style="color: red"> *</span></label>
                <select asp-for="@Model.CabinClass" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Cabin class...</option>
                    @foreach (var cabinClass in Model.CabinClasses)
                    {
                        <option value="@cabinClass">@cabinClass</option>
                    }
                </select>
                <span asp-validation-for="@Model.CabinClass" class="text-danger"></span>
            </div>



            <div class="d-flex justify-content-between align-items-center mb-3">
                <a asp-area="Admin" asp-controller="Flight" asp-action="All" style="margin-right: 15px;" class="btn btn-primary mb-2 w-100 p-3 fw-bold">Back to all flights</a>

                <button type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add the flight</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


