@using BookingSystem.Core.Contracts
@model HotelDetailsViewModel
@inject IHotelService hotels;
@{
    ViewData["Title"] = "Hotel Details";
    int nextHotelId = Model.Id + 1;
    int previousHotelId = Model.Id - 1;
    int firstHotelId = 1;
    int lastHotelId = Model.HotelsCount;

    HotelDetailsViewModel nextHotel;
    HotelDetailsViewModel previousHotel;


    if(Model.Id == 1)
    {
        nextHotel = await hotels.DetailsAsync(nextHotelId);
        previousHotel = await hotels.DetailsAsync(lastHotelId);
    }
    else if(Model.Id == lastHotelId)
    {
        nextHotel = await hotels.DetailsAsync(firstHotelId);
        previousHotel = await hotels.DetailsAsync(previousHotelId);
    }
    else
    {
        nextHotel = await hotels.DetailsAsync(nextHotelId);
        previousHotel = await hotels.DetailsAsync(previousHotelId);
    }


    HotelDetailsViewModel firstHotel = await hotels.DetailsAsync(firstHotelId);
    HotelDetailsViewModel lastHotel = await hotels.DetailsAsync(lastHotelId);
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                @for (int i = 1; i <= Model.StarRate; i++)
                {
                    <img style="height: 12px; width: 12px;" src="~/icon/star.png" />
                }
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <h5 style="font-weight: bold; margin-top: 5px;" class="card-title text-left">@Model.Name</h5>
                    <a asp-controller="Hotel" asp-action="Reserve" asp-route-id="@Model.Id" class="btn btn-success">Reserve</a>
                </div>

                <i class="fas fa-map-marker-alt"></i>
                <small>@Model.Address, @Model.City.Name, @Model.CountryName</small>

                <div style="width: 100%;">
                    <img style="width: 100%; height: auto; object-fit: cover; margin-top: 15px;" src="@Model.ImageUrl" class="card-img" />
                </div>

                <p style="margin-top: 15px; margin-bottom: 0px; text-align: justify;">@Model.Details</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
                @if (Model.Id == 1)//First hotel case
                {
                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="@lastHotelId"
                       asp-route-information="@lastHotel.GetInformation()" style="margin-left: 10px;" class="btn btn-primary fw-bold">&#8592 Previous hotel</a>
                    
                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="@nextHotelId"
                       asp-route-information="@nextHotel.GetInformation()" style=" margin-right: 10px;" class="btn btn-primary fw-bold">Next hotel &#8594</a>
                }
                else if (Model.Id == lastHotelId)//Last hotel case
                {
                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="@previousHotelId"
                       asp-route-information="@previousHotel.GetInformation()" style="margin-left: 10px;" class="btn btn-primary fw-bold">&#8592 Previous hotel</a>
                    
                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="@firstHotelId"
                       asp-route-information="@firstHotel.GetInformation()" style=" margin-right: 10px;" class="btn btn-primary fw-bold">Next hotel &#8594</a>
                }
                else
                {
                    <a asp-controller="Hotel" asp-action="Details" asp-route-id="@previousHotelId"
                      asp-route-information="@previousHotel.GetInformation()" style="margin-left: 10px;" class="btn btn-primary fw-bold">&#8592 Previous hotel</a>
                   
                      <a asp-controller="Hotel" asp-action="Details" asp-route-id="@nextHotelId"
                      asp-route-information="@nextHotel.GetInformation()" style="margin-right: 10px;" class="btn btn-primary fw-bold">Next hotel &#8594</a>
                }
            </div>

            <a asp-controller="Hotel" asp-action="All" style="margin-top: 15px;" class="btn btn-warning mb-2 p-3 fw-bold">Back to All Hotels</a>

        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <h4 style="text-align: center; margin-bottom: 10px;">Availability</h4>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Room type</th>
                        <th>Number of guests</th>
                        <th>Price per night</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model.Rooms)
                    {
                        <tr class="table-light">
                            <td>
                                @room.Type.ToString()
                                <br />
                                @if (room.Count == 0)
                                {
                                    <small style="font-size: 11px; color: red;">
                                        <span>
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        @room.Count @room.Type rooms left on our site
                                    </small>
                                }
                                else
                                {
                                    <small style="font-size: 11px; color: orange;">
                                        <span><i class="fas fa-hourglass-end"></i></span>
                                        Only @room.Count rooms left on our site
                                    </small>
                                }
                            </td>
                            <td>
                                @for (int i = 1; i <= (int)room.Type; i++)
                                {
                                    <i class="fas fa-user"></i>
                                }
                            </td>
                            <td>
                                &#8364 @room.PricePerNight
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <h4 style="text-align: center;">Hotel rules</h4>
                <small style="font-style: italic;">@Model.Name takes special requests – add in the next step!</small>
                <table class="table">
                    <tr>
                        <td>
                            <div style="display: flex; flex-direction: row;">
                                <img style="width: 30px; height: 30px; object-fit: cover;" src="~/images/check-in.png" />
                                <p style="margin-left: 10px; margin-top: 2px;">Check-in</p>
                            </div>
                        </td>
                        <td>
                            From @Model.CheckIn
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display: flex; flex-direction: row;">
                                <img style="width: 30px; height: 30px; object-fit: cover;" src="~/images/check-out.png" />
                                <p style="margin-left: 16px; margin-top: 2px;">Check-out</p>
                            </div>
                        </td>
                        <td>
                            Until @Model.CheckOut
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display: flex; flex-direction: row;">
                                <img style="width: 30px; height: 30px; object-fit: cover;" src="~/images/pawprint.png" />
                                <p style="margin-left: 16px; margin-top: 2px;">Pets</p>
                            </div>
                        </td>
                        <td>
                            @if (Model.Pets == true)
                            {
                                <p>Pets are allowed on request. Charges may apply.</p>
                            }
                            else
                            {
                                <p>Pets are not allowed!</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display: flex; flex-direction: row;">
                                <img style="width: 30px; height: 30px; object-fit: cover;" src="~/images/parking-area.png" />
                                <p style="margin-left: 16px; margin-top: 2px;">Parking</p>
                            </div>
                        </td>
                        <td>
                            @if (Model.Parking == true)
                            {
                                <p>Free public parking is available.</p>
                            }
                            else
                            {
                                <p>No parking is available!</p>
                            }
                        </td>
                    </tr>
                </table>
            </div>

            
            @if (Model.City.Landmarks.Any())
            {
                <h4 style="text-align: center;">Landmarks in @Model.City.Name ...</h4>

                <div class="row">
                    @foreach (var landmark in Model.City.Landmarks)
                    {
                        <partial name="_LandmarkPartial" model="@landmark" />
                    }
                </div>    
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}