@model HotelReservationInputModel
@{
    ViewData["Title"] = "Hotel Reservation";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-asp-controller="Hotel" asp-action="Reserve" asp-route-id="@Model.Hotel_Id" method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label-add-edit">
                    First Name:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" placeholder="First name..." />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label-add-edit">
                    Last Name:<span style="color: red"> *</span>
                </label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" placeholder="Last name..." />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label-add-edit">
                    Start Date<span style="color: red"> *</span>
                </label>
                <div class="input-group date" id="startDatePicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#startDatePicker" asp-for="@Model.StartDate" placeholder="Start date..." />
                    <div class="input-group-append" data-target="#startDatePicker" data-toggle="datetimepicker">
                        <div style="height: 37.3px;" class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label-add-edit">
                    End Date<span style="color: red"> *</span>
                </label>
                <div class="input-group date" id="endDatePicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#endDatePicker" asp-for="@Model.EndDate" placeholder="End date..." />
                    <div class="input-group-append" data-target="#endDatePicker" data-toggle="datetimepicker">
                        <div style ="height: 37.3px;" class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Room_Id" class="form-label-add-edit">Select Room</label>
                <select asp-for="@Model.Room_Id" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Room...</option>
                    @foreach (var room in Model.Rooms!)
                    {
                        if(room.Count > 0)
                        {
                            <option value="@room.Id">@room.Type.ToString()</option>
                        }                     
                    }
                </select>
                <span asp-validation-for="@Model.Room_Id" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Next step: Final Details -->" />
            </div>
            <div class="mb-3">
                <a asp-controller="Hotel" asp-action="Details" asp-route-id="@Model.Hotel_Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">Back to the hotel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#startDatePicker, #endDatePicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                startDate: new Date()
            });
        });
    </script>
}